{% extends 'base.html' %}

{% load static %}

{% block extendcss %}


{% endblock %}

{% block extendjs %}



{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>給料支給明細</h1>
        <p>現在の給料を表示する</p>
    </div>

    {# body #}
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">勤怠</h3>
              </div>
              <div class="panel-body">
                  <table style="width:100%">
                      <tr>
                        <th>出勤日数:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th>欠勤日数:</th>
                        <td>555 77 854</td>
                      </tr>
                      <tr>
                        <th>普通残業時間:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>深夜残業時間:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>休日出勤時間:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>休日深夜時間:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>遅刻早退時間:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>皆勤区分:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th style="color:tomato;">勤務時間:</th>
                        <td>555 77 855</td>
                      </tr>
                    </table>

              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">その他</h3>
              </div>
              <div class="panel-body">
                  <table style="width:100%">
                      <tr>
                        <th>(内)基本保険:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th>(内)特定保険:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th>(内)介護保険:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th style="color: tomato;">課税支給累計:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th style="color: tomato;">社会保険累計:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th style="color: tomato;">所得税累計:</th>
                        <td>Bill Gates</td>
                      </tr>

                    </table>
              </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">支給</h3>
              </div>

              <div class="panel-body">

                  <table style="width:100%">
                      <tr>
                        <th style="color: tomato;">基本給:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th>役職手当:</th>
                        <td>555 77 854</td>
                      </tr>
                      <tr>
                        <th>特別手当:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>実務手当:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>休業控除:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>休業手当:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>リーダー手当:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>リーダー手当:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>加給手当:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>残業代:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>控除:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>通勤手当(非):</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>通勤手当(課):</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>実総支給額:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th style="color: tomato;">総支給額:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                      <tr><th>&nbsp;</th><td></td></tr>

                    </table>
              </div>
            </div>
        </div>
    </div>



    {#  #}


    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">控除</h3>
              </div>
              <div class="panel-body">
                  <table style="width:100%">
                      <tr>
                        <th>健康保険:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th>厚生年金保険:</th>
                        <td>555 77 854</td>
                      </tr>
                      <tr>
                        <th>厚生年金基金:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>雇用保険:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>社会保険合計:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>課税対象額:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>所得税:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>旅行積立:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>財形貯金:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>親睦会費:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>ゴルフ部費:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>麻雀部費:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>ゲーム部費:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>調整:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th style="color:tomato;">控除除額:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                      <tr><th>&nbsp;</th><td></td></tr>
                    </table>

              </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">単価</h3>
              </div>

              <div class="panel-body">

                  <table style="width:100%">
                      <tr>
                        <th style="color: tomato;">普通残業単価:</th>
                        <td>Bill Gates</td>
                      </tr>
                      <tr>
                        <th>深夜残業単価:</th>
                        <td>555 77 854</td>
                      </tr>
                      <tr>
                        <th>休日出勤単価:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>深夜出勤単価:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>遅刻早退単価:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>欠勤単価:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>日給単価:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>時給単価:</th>
                        <td>555 77 855</td>
                      </tr>
                    </table>
              </div>
            </div>


            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">合計</h3>
              </div>

              <div class="panel-body">

                  <table style="width:100%">
                      <tr>
                        <th>前回端額:</th>
                        <td>555 77 854</td>
                      </tr>
                      <tr>
                        <th>今回端額:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>振込口座1:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>振込口座2:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>振込口座3:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th>現金支給:</th>
                        <td>555 77 855</td>
                      </tr>
                      <tr>
                        <th style="color: tomato;">差引支給支給:</th>
                        <td>555 77 855</td>
                      </tr>
                    </table>
              </div>
            </div>
        </div>
    </div>






{% endblock %}

