{% load static %}


<!DOCTYPE html>
<html lang="jp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.paper.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/logo-nav.css' %}" rel="stylesheet">
    <!-- extends css -->
    {% block extendcss %}{% endblock %}

    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- extends js -->
    {% block extendjs %}{% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#  <a class="navbar-brand" href="#">社内システム</a> #}
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'top_page' %}">組織検索</a>
                    </li>
                    <li>
                        <a href="{% url 'SalaryTop' %}">給料明細</a>
                    </li>
                    <li>
                        <a href="#">目標達成</a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">

                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理画面<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">組織管理</a></li>
                        <li><a href="{% url 'salaryInput' %}">給料登録</a></li>
                        <li><a href="#">社員目標管理</a></li>
                      </ul>
                  </li>

                    <li><a href="{% url 'logout' %}">ログアウト</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- /.container -->



</body>

</html>
