{% extends 'base.html' %}

{% load static %}

{% block extendcss %}
    <link href="{% static 'bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/dataTables.jqueryui.min.css' %}" rel="stylesheet">


{% endblock %}

{% block extendjs %}
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/dataTables.jqueryui.min.js' %}"></script>


    <script src="{% static 'js/soshiki.js' %}"></script>

    <script>

        var selectedSoshiki = {% if soshikiName %}"{{ soshikiName }}"{% endif %}

        $(document).ready(function () {

            if(selectedSoshiki != null){
                $("#soshikiSel").val(selectedSoshiki);
            }


            $("#searchBtn").click(function () {

                $selectedOption = $("#soshikiSel > option:selected");
                input_code = $selectedOption.data("code");

                var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "soshikiCode").val(input_code)


                $("#searchForm").append($(input));
                $("#searchForm").submit();


            });

        });


    </script>
{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>会社組織</h1>
        <p>Asupage会社組織情報</p>
    </div>

    <!-- select -->
    <div class="form-row">
        <form id="searchForm" method="post" action="{% url 'top_page' %}">
            {% csrf_token %}
            組織検索：
            <select id="soshikiSel" class="selectpicker" data-style="btn-info">
                {% if Soshikis %}
                    {% for soshiki in Soshikis %}
                        <option data-code="{{ soshiki.code }}">{{ soshiki.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>

            <!-- 検索ボタン -->
            <div style="margin-top: 10px;">
                <button id="searchBtn" type="button" class="btn btn-danger">検索</button>
            </div>
        </form>
    </div>

    <!-- datatable -->
    <div class="form-row">
        <table id="soshiki" class="table table-striped table-bordered" width="100%">
            <thead class="btn-success">
                <tr>
                    <th>社員ID</th>
                    <th>社員名</th>
                    <th>組織</th>
                    <th>役職</th>
                    <th>入社時間</th>
                </tr>
            </thead>
            <tbody>
                {% if UserInfo %}
                    {% for user in UserInfo %}
                    <tr>
                        <td>{{ user.id|safe }}</td>
                        <td>{{ user.name|safe }}</td>
                        <td>{{ user.soshiki.name|safe }}</td>
                        <td>{{ user.title.name|safe }}</td>
                        <td>{{ user.create_time|date:'Y-m-d' }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>


{% endblock %}

