{% extends 'base.html' %}

{% load static %}

{% block extendcss %}
    <link href="{% static 'bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extendjs %}
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>会社組織</h1>
        <p>Asupage会社組織情報</p>
    </div>

    <!-- select -->
    <div class="form-row">
        <select class="selectpicker" data-style="btn-info">
          <option>第１システム部</option>
          <option>第２システム部</option>
          <option>第３システム部</option>
          <option>インフラソリューション部</option>
        </select>
    </div>

    <!-- datatable -->
    <div class="row">

    </div>




{% endblock %}

