{% extends 'base.html' %}

{% load static %}

{% block extendcss %}
    <link href="{% static 'bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/dataTables.jqueryui.min.css' %}" rel="stylesheet">


{% endblock %}

{% block extendjs %}
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/dataTables.jqueryui.min.js' %}"></script>


    <script src="{% static 'js/soshiki.js' %}"></script>

    <script>

        var selectedSoshiki = {% if soshikiName %}"{{ soshikiName }}"{% else %}null{% endif %};
        var titleName = {% if titleName %}"{{ titleName }}"{% else %}null{% endif %};
        var usertest = {% if UserInfo %}"{{ UserInfo|safe }}"{% else %}null{% endif %};

        $(document).ready(function () {

            if(selectedSoshiki != null){
                $("#soshikiSel").val(selectedSoshiki);
            }

            if(titleName != null){
                $("#titleSel").val(titleName);
            }


            $("#searchBtn").click(function () {

                var Form = $("#searchForm");

                $selectedOption = $("#soshikiSel > option:selected");
                input_code = $selectedOption.data("code");

                $titleselected = $("#titleSel > option:selected");
                title_id = $titleselected.data("code");

                appendForm(Form, "soshikiCode", input_code);
                appendForm(Form, "titleid", title_id);

                $("#searchForm").submit();

            });

            {# add hidden input to Form #}
            var appendForm = function(Form, attrName, attr){
                if(attr != "undefined" && attr != 0){
                    var input = $("<input>")
                            .attr("type", "hidden")
                            .attr("name", attrName).val(attr);
                }

                $(Form).append($(input));
            }


            {# click ボタンを押下するとき#}
            $("#clearBtn").click("click", function () {

                //clear form
                var form = $("#searchForm");

                var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "clear")

                form.append($(input)).submit();

            });


        });




    </script>
{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>会社組織</h1>
        <p>Asupage会社組織情報</p>
    </div>

    <!-- select -->
    <div class="form-row">
        <form id="searchForm" method="post" action="{% url 'top_page' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-6">
                 <h5>組織検索:</h5>
                 <select id="soshikiSel" class="selectpicker">
                        {% if Soshikis %}
                            <option data-code="0">--全て--</option>
                            {% for soshiki in Soshikis %}
                                <option data-code="{{ soshiki.code }}">{{ soshiki.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                {# 役職から検索 #}
                <div class="col-xs-3">
                    <h5>役職:</h5>
                    <select id="titleSel" class="selectpicker">
                        <option data-code="0">--全て--</option>
                        {% if TitleInfo %}
                            {% for title in TitleInfo %}
                                <option data-code="{{ title.id }}">{{ title.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

            </div>
            <!-- 検索ボタン -->
            <div style="margin-top: 10px;">
                <button id="searchBtn" type="button" class="btn btn-primary">検索</button>
                <button id="clearBtn" type="button" class="btn btn-warning">クリア</button>
            </div>
        </form>
    </div>

    <!-- datatable -->
    <table id="soshiki" class="table table-striped table-hover table-bordered dataTable no-footer" width="100%">
        <thead class="bg-success" role="row">
            <tr>
                <th>社員ID</th>
                <th>社員名</th>
                <th>組織</th>
                <th>役職</th>
                <th>入社時間</th>
            </tr>
        </thead>
        <tbody>
            {% if UserInfo %}
                {% for user in UserInfo %}
                <tr>
                    <td>{{ user.id|safe }}</td>
                    <td>{{ user.name|safe }}</td>
                    <td>{{ user.soshiki|safe }}</td>
                    <td>{{ user.title|safe }}</td>
                    <td>{{ user.create_time|date:'Y年m月d日' }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>


{% endblock %}

